fastapi==0.133.1
uvicorn==0.41.0

pandas==2.3.3

python-dotenv==1.2.1
python-multipart==0.0.22
pydantic-settings==2.13.1

langchain==1.2.10
langchain-core==1.2.16
langchain-groq==1.1.2
langchain-google-genai==4.2.1

rapidfuzz==3.14.3